body, header, footer {
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    background-image: url('Fondo.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 153, 255);
    padding: 10px;
    color: #fff;
}

.logo img {
    max-width: 80px;
    height: auto;
}

.titulo h1 {
    margin: 0;
    margin-right: 821px;
    font-size: 25px;
}

.container{
    background-color: rgba(0, 153, 255, 0.712);
    width:35%;
    margin: 41px auto;
    padding: 20px;
    border-radius: 10px;
}
h2{
    margin: 0px;
    text-align: center;
    margin-bottom: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.campo label{
    font-size: large;
    margin-left: 5%;
    margin-top: 0,2%;
    flex-basis: 80px;
    flex: 1;
}
.campo input{
    height: 20px;
    width: 55%;
    margin-right: 5%;
}
.campo{
    display: flex;
    margin: 7px 0px;
}
#boton{
    width: 25%;
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 36%;
    border-radius: 10px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-right: 5px;
    background-color: rgb(0, 130, 252);
    border-radius: 10px;
    padding: 10px;
}

footer {
    background-color: rgb(0, 153, 255);
    color: aliceblue;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.url {
    text-decoration: none;
}
